
.classpath

.project

.svn/entries

.svn/format

*.svn-base

.svn/wc.db

bin/AndroidManifest.xml

bin/classes.dex

bin/classes/one/skean/booksalesinfo/BuildConfig.class

bin/classes/one/skean/booksalesinfo/R$array.class

bin/BooksSalesInfo.apk

bin/classes/one/skean/booksalesinfo/R$attr.class
